#create-portfolio-row {
  min-height: 90vh;
}

#create-portfolio-container {
  background-image: url(../../../assets/img/computer1.jpg);
  background-position: center;
  background-size: cover;
}

#smoke-create-portfolio {
  height: 90vh;
  background-color: #19d2b4cf;
}

.form-groupe {
  position: relative;
  padding-top: 1.5rem;
}

/* FORM */
.label-form-groupe {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
  color:#00bfc6;
}

input:placeholder-shown + .label-form-groupe {
  opacity: 0;
  transform: translateY(1rem);
}

.form-groupe input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #80808057;
  transition: 0.4s ease-in-out;
}

.form-groupe input[type="text"]:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #00bfc6;
}

#create-portfolio-row > div.col-lg-8 > div > div > div > a:hover{
    text-decoration: none;
}
