#dashboard {
  background-image: linear-gradient(
    to top,
    #007bd1,
    #0096de,
    #00aed7,
    #00c3c3,
    #00d4a9
  );
  box-shadow: 5px 3px 20px 5px #80808045;
}

/* LOGOUT BUTTON ON SIDENAV */
#dashboard
  > div
  > div:nth-child(5)
  > div.sidenav---navitem---9uL5T
  > div.sidenav---navtext---1AE_f
  > button {
  background: none;
  border: none;
  cursor: pointer;
}
