@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');



#productContainer {
  min-height: 100vh;
  background-image: linear-gradient(
    to left,
    #007bd1,
    #0096de,
    #00aed7,
    #00c3c3,
    #00d4a6
  );
}
#productContainer img {
  width: 100%;
  max-height: 900px;
  min-height: 700px;
}

#coverProductContainer {
  position: absolute;
}

#textContainer {
  position: relative;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#textContainer .row {
  min-height: 40vh;
}

#phoneContainer img {
  position: relative;
  z-index: 500;
  /* top: -130px; */
  /* left: -20px; */
  /* left: 600px; */
  /* width: 20%; */
  min-width: 150px;
  max-width: 900px;
  /* margin: 0 auto; */
  min-height: 300px;
  max-height: 440px;
}

#steps {
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;

}

#steps span{
  background: #00D2AB;
}

#lineheading{
  width: 57px;
  height: 5px;
  background-color: #17a2b8;
  display: inline-block;
  border-radius: 200px;
  margin-bottom: 25px;
}

#lineheading2{
  width: 57px;
  height: 5px;
  background-color: #00cab9;;
  display: inline-block;
  border-radius: 200px;
  margin-bottom: 25px;
}