@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed");

#price {
  font-family: "Fira Sans Condensed", sans-serif;
  min-height: 50vh;
}

#priceText {
  min-height: 30vh;
  background: #00ca9d;
}

#priceText .row {
  min-height: 30vh;
  color: white;
}
