#RegisterContainer {
  background-image: url(../../assets/img/signup-min.jpg);
  min-height: 91vh;
  background-position: center;
  background-size: cover;
  padding: 0;
}

#ResgisterSmoke {
  min-height: 91vh;
  background-image: linear-gradient(
    to left,
    #007bd18a,
    #0096decf,
    #00aed7ad,
    #00c3c39e,
    #00d4a699
  );
  padding: 0;
}
#ResgisterSmoke > div {
  margin: 0;
}

/* FORM */
.form-groupe {
  position: relative;
  padding-top: 1.5rem;
}

/* FORM */
.label-form-groupe {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
  color: #00bfc6;
}

input:placeholder-shown + .label-form-groupe {
  opacity: 0;
  transform: translateY(1rem);
}

.form-groupe input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #80808057;
  transition: 0.4s ease-in-out;
}

.form-groupe input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #00bfc6;
}
